#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.tgl {
  margin-bottom: 2rem;
  font-weight: bold;
  font-size: 2rem;
}

.hello {
  font-weight: bold;
  font-size: 3rem;
}
